# ignore virtual environment
/bin
/include
/lib
/lib64
/notebooks
/share
/venv
*.cfg
*.pyc

# ignore experimental data
/data/processed/*


# ignore output folders
labelInspectionVideos*
resultsInspectionVideos*

# ignore output filetypes
(*/__pycache__/*)
*.csv*
*.png*
*.hdf5
*models/*
*.avi
*.jpg*
